:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: #000;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --buttonColor: #000;
}

.purple-mode {
  --mainColor:#46344E;
	--secondaryColor:#382a3f;
	--borderColor:#1d1520;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2b202f;
	--buttonColor:#8534a3;
}

.green-mode {
  --mainColor:#606B56;
	--secondaryColor:#515a48;
	--borderColor:#161914;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;
	--buttonColor:#669966;
}

.blue-mode {
  --mainColor:#15202B;
	--secondaryColor:#192734;
	--borderColor:#164D56;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;
	--buttonColor:#17a2b8;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Play", sans-serif;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.section-1 {
  overflow: auto;
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.section-2 {
  overflow: auto;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-title {
  display: grid;
  text-align: center;
  align-content: center;
}

.hero {
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--borderColor);
  background-color: var(--secondaryColor);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "hero-nav hero-nav"
    "hero-left-column hero-right-column";
}

.hero-nav {
  display: flex;
  grid-area: hero-nav;
  align-items: center;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.hero-nav-left {
  display: flex;
  padding: 10px;
}

.danger-color {
  color: #fc6058;
}

.warning-color {
  color: #fec02f;
}

.success-color {
  color: #2aca3e;
}

.hero-nav-right {
  margin: 0;
  padding: 10px;
}

.hero-nav-right li {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.hero-left-column {
  padding: 50px 0;
  grid-area: hero-left-column;
}

.hero-right-column {
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
  grid-area: hero-right-column;
  justify-content: space-evenly;
}

#hero-image {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--borderColor);
}

.theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;

  &:hover {
    border-width: 5px;
    border-color: #6B728E;
    transform: translateY(-3px);
  }
}

#light-mode { background-color: #fff; }

#blue-mode { background-color: #192734; }

#green-mode { background-color: #78866b; }

#purple-mode { background-color: #7e4c74; }

.info-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

#flip-card {
  width: 300px;
  height: 300px;
  padding: 15px;
  position: relative;
  perspective: 1000px;
  border: 1.5px dashed #17a2b8;
  background-color: var(--previewShadow);
}

.corner { position: absolute; }

#corner-tl {
  top: -12px;
  left: -8px;
}

#corner-tr {
  top: -12px;
  right: -8px;
}

#corner-br {
  bottom: -11px;
  right: -8px;
}

#corner-bl {
  bottom: -11px;
  left: -8px;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-front {
  display: grid;
  align-content: center;
  background-color: var(--previewBg);
}

.flip-card-back {
  display: grid;
  align-content: center;
  transform: rotateY(180deg);
  background-color: var(--previewBg);
}

.about {
  display: grid;
  gap: 100px;
  padding: 50px 0;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.divider {
	border-bottom: 1px solid #000;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);

  li {
    margin: 15px 0;
  }
}

.social-link {
  display: grid;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 10px;
}

.card .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  background-color: #f00;
}

.card:nth-child(1) .icon {
  background: #0077b5;
}

.card .icon .mdi {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 80px;
  transition: 0.7s;
  transform: translate(-50%, -50%);
}

.card span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 80px;
  transition: 0.7s;
  transform: translate(-50%, -50%);
}

.card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.card .face.face-1 {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  background: #333;
  transform: translateY(100px);
}

.card:hover .face.face-1 {
  background: #ff0057;
  transform: translateY(0px);
}

.card .face.face-1 .content {
  opacity: 1;
  transition: 0.5s;
}

.card:hover .face.face-1 .content {
  opacity: 1;
}

.card .face.face-1 .content i {
  max-width: 100px;
}

.card .face.face-2 {
  position: relative;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.75);
}

.card:hover .face.face-2 {
  transform: translateY(0);
}

.card .face.face-2 .content p {
  margin: 0;
  padding: 0;
  color: #414141;
  text-align: center;
}

.card .face.face-2 .content h3 {
  padding: 0;
  color: #fff;
  font-size: 24px;
  color: #414141;
  text-align: center;
  margin: 0 0 10px 0;
}

.card a {
  color: #1976d2;
}

// .post-wrapper {
//   display: grid;
//   gap: 20px;
//   padding-bottom: 50px;
//   justify-content: center;
//   grid-template-columns: repeat(auto-fit, 320px);
// }

// .post {
//   border: 1px solid var(--borderColor);
//   -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
//   -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
//   box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
// }

// .thumbnail {
//   display: block;
//   width: 100%;
//   height: 180px;
//   object-fit: cover;
// }

// .post-preview {
//   padding: 15px;
//   background-color: #fff;
// }

// .post-title {
//   margin: 0;
//   color: #000;
// }

// .post-intro {
//   font-size: 14px;
//   color: #4b5156;
// }

// #contact-form {
//   padding: 15px;
//   display: block;
//   margin: 0 auto;
//   max-width: 600px;
//   border-radius: 5px;
//   margin-bottom: 50px;
//   background-color: var(--mainColor);
//   border: 1px solid var(--borderColor);
// }

// #contact-form label {
//   line-height: 2.7em;
// }

// #contact-form textarea {
//   font-size: 14px;
//   min-height: 100px;
// }

// .input-field {
//   width: 100%;
//   padding: 10px 0;
//   font-size: 14px;
//   border-radius: 5px;
//   border: 1px solid var(--borderColor);
//   background-color: var(--secondaryColor);
// }

// #submit-btn {
//   width: 100%;
//   border: none;
//   color: #fff;
//   margin-top: 10px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   background-color: var(--buttonColor);
// }

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.8rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 0.5rem;
  background: var(--borderColor);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero-nav"
      "hero-left-column"
      "hero-right-column";
  }

  .hero-right-column {
    justify-content: center;
  }

  .card {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 400px) {
  #flip-card {
    width: 280px;
  }

  .about-wrapper {
	h4, p {
	  text-align: center;
	}
  }
}
